<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
    <title>Edit Employee</title>
</head>

<body>
    <h1>Edit Employee</h1>
        <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Save</button>
    </form>
</body>
</html>